html, body{
    margin: 0;
    padding: 0;
}

#logo {
    width: 102px;
    height: 100px;
    animation: logo 1s ease-in-out 0s 1;
}

.logo-bg {
    animation: logo-bg .8s ease-in-out 0s 1;
}
nav {
    text-align: center;
    padding-top: 29px;
    animation: nav 1.5s ease-in-out 0s 1;
}

.container {
    margin: 11px 7vw;
}

header {
    display: flex;
    justify-content: space-between;
}

#call {
    padding-top: 16px;
    display: flex;
    animation: call 2.5s ease-in-out 0s 1;
}

nav a {
    margin-left: 35px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    line-height: 142.2%;
    text-decoration: none;
    color: #000000;
}

#call p {
    display: inline-block;
    margin: 14px 0 0 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    vertical-align:top;
    white-space: nowrap;
}

#call svg {
    border: 14px solid #F1F1F1;
    border-radius: 7px;
}

.content {
    display: flex;
}

.content-img {
    height: 74vh;
    margin: 0 0 0 8vw;
    animation: content-img 2s ease-in-out 0s;
}

img {
    height: 100%;
}

.content-txt {
    margin-top: 7vh;
    animation: content-txt 2.5s ease-in-out 0s;
}

.content-txt span {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

h1 {
    margin: 13px 0 32px 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    font-size: 80px;
    line-height: 80px;
}

.content-txt p {
    width: 42vw;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 21px;
    line-height: 150%;
}

form {
    margin: 6vh 0 1vh 0;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

#form-txt {
    background: #F1F1F1;
    border: none;
    border-radius: 7px;
    padding: 10px 10vw 10px 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    line-height: 150%;
}

#form-btn {
    background: #FF8324;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
}

.adv {
    width: 25px;
    height: 25px;
    border: 11px solid #F1F1F1;
    background: #F1F1F1;
    border-radius: 7px;
}

.cont {
    width: 16px;
    height: 16px;
    border: 11px solid #000000;
    background: #000000;
    border-radius: 100px;
    margin-left: 1vw;
}

.rest {
    display: flex;
    justify-content: space-between;
    animation: rest 2.5s ease-in-out 0s;
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.advantages div {
    display: flex;
    justify-content: space-between;
}

.advantages p {
    margin: 5px 3vw 5px 1vw;
    font-family: Rubik;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
@keyframes logo{
    0% {
        position: fixed;
    margin: 25vh 25vw;
    width: 30vw;
    height: 50vh;
  }
  80% {
        position: fixed;
    margin: 25vh 25vw;
    width: 30vw;
    height: 50vh;
  }
  84% {
        position: fixed;
    margin: 20vh 20vw;
    width: 25vw;
    height: 45vh;
  }
  88% {
        position: fixed;
    margin: 15vh 15vw;
    width: 20vw;
    height: 40vh;
  }
  92% {
        position: fixed;
    margin: 10vh 10vw;
    width: 15vw;
    height: 35vh;
  }
  96% {
        position: fixed;
    margin: 5vh 5vw;
    width: 10vw;
    height: 30vh;
  }
  100% {
      margin: auto;
    width: auto;
    height: auto;
  }
}
@keyframes logo-bg{
    0% {
        opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes nav{
    0% {
            margin-top:-20vh;
  }
    50% {
            margin-top:-20vh;
  }
  100% {
      margin-top: 0;
  }
}
@keyframes call{
    0% {
        overflow: hidden;
        width: 0;
  }
    50% {
        overflow: hidden;
        width: 0;
  }
    95% {
        overflow: hidden;
        width: 15vw;
  }
  100% {
      width: auto;
  }
}
@keyframes content-txt{
    0% {
        opacity: 0;
  }
    50% {
        opacity: 0;
  }
    100% {
        opacity: 1;
  }
}
@keyframes content-img{
    0% {
        overflow: hidden;
        width: 0;
        margin: 0 0 0 50vw;
  }
    50% {
        overflow: hidden;
        width: 0;
        margin: 0 0 0 50vw;
  }
  100% {
      margin: 0 0 0 8vw;
  }
}
@keyframes rest{
    0% {
        overflow: hidden;
        height: 0;
        margin: 20vw 0 0 0;
  }
    50% {
        overflow: hidden;
        height: 0;
        margin: 20vw 0 0 0;
  }
  100% {
      margin: 0;
  }
}
@media screen and (orientation: portrait){
.content-img {
    height: 44vh;
    margin: 0;
}
}
@media screen and (orientation: portrait) and (max-device-width: 767px){
    .content-img {
    display: none;
}
    nav {
    display: none;
    animation: none;
}
    #call p {
    display: none;
}
    .advantages {
    display: none;
}
    #logo {
    width: 19vw;
    height: 19vw;
    animation: none;
}
    .content {
    justify-content: center;
        text-align: center;
}
    .content-txt p {
    width: 100%;
}
    form {
        display: flex;
        flex-flow: column;
    margin: 4vh 0 1vh 0;
}
    .rest {
    justify-content: center;
        animation: none;
}
    #call svg {
    border: 5vw solid #F1F1F1;
    border-radius: 20px;
    width: 5vw;
    height: 6.5vw;
    padding: 0 1vw;
    background: #F1F1F1;
}
    .content-txt span {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
}
    h1 {
    font-weight: 800;
    font-size: 7rem;
    line-height: normal;
}
    #form-txt {
    border-radius: 20px;
    padding: 5vw 4vw;
    font-size: 22px;
    line-height: 150%;
}
    #form-btn {
    margin: 2vh 0;
    border-radius: 20px;
    padding: 5vw 4vw;
    font-size: 22px;
}
    .cont {
    width: 6vw;
    height: 6vw;
    border: 4vw solid #000000;
    margin: 6vw 3vw;
}
    
#call {
    animation: none;
}

.content-txt {
    animation: none;
}

.content-img {
    animation: none;
}
.logo-bg {
    animation: none;
}
    .container {
    margin: 3vh 7vw;
}
}